<footer class="footer">

    <div class="footer-top">

        <div class="footer-brand">

            <a href="index.html">

    <img src="img/logo.png" alt="ZABAS">

</a>

            <p>
                Equipamiento táctico premium diseñado
                para operadores, expediciones y misiones reales.
            </p>

        </div>

        <div class="footer-links">

            <h4>NAVEGACIÓN</h4>

            <a href="#">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>

        </div>

        <div class="footer-links">

            <h4>INFORMACIÓN</h4>

            <a href="#">Envíos</a>
            <a href="#">Garantías</a>
            <a href="#">Pagos seguros</a>
            <a href="#">Soporte</a>

        </div>

        <div class="footer-contacto">

            <h4>CONTACTO</h4>

            <p>Colombia</p>

            <p>bogota D.C. Colombia</p>

            <p>zabastacticalstore@gmail.com</p>

            <p>+57 312 378 5261</p>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 ZABAS Tactical Gear — Todos los derechos reservados.
        </p>

    </div>

</footer>