<header class="header">

    <div class="logo-area">

        <a href="index.html">

            <img src="img/logo.png" class="logo">

        </a>

    </div>

    <nav class="menu">

        <a href="index.html">Inicio</a>
        <a href="productos.html">Productos</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="contacto.html">Contacto</a>

        
    </nav>

    <div class="hamburguesa">

    <span></span>
    <span></span>
    <span></span>

</div>

    <div class="header-right">

        <div class="buscador">

            <input type="text" id="buscadorNavbar" placeholder="Buscar...">

        </div>

        <a href="carrito.html" class="carrito-icono">
            🛒 <span id="contador-carrito">0</span>
        </a>

    </div>

    

</header>

