<header class="header">

    <div class="logo-area">

        <a href="index.html">

            <img src="img/logo.png" class="logo">

        </a>

    </div>

    <nav class="menu">

        <a href="index.html">Inicio</a>
        <a href="productos.html">Productos</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="contacto.html">Contacto</a>


    </nav>

    <div class="hamburguesa">

        <span></span>
        <span></span>
        <span></span>

    </div>

    <div class="header-right">

        <div class="buscador">

            <input type="text" id="buscadorNavbar" placeholder="Buscar...">

        </div>

        <a href="carrito.html" class="carrito-icono">
            🛒 <span id="contador-carrito">0</span>
        </a>

    </div>


    <div class="overlay-carrito" id="overlayCarrito"></div>

    <!-- CARRITO LATERAL -->
    <div class="carrito-lateral" id="carritoLateral">

        <div class="carrito-top">

            <h2>Tu Equipo</h2>

            <button id="cerrarCarrito">✕</button>

        </div>

        <div class="carrito-items" id="carritoItems">

            <p class="carrito-vacio">
                Tu carrito está vacío
            </p>

        </div>

        <div class="carrito-bottom">

            <div class="subtotal">

                <span>Subtotal</span>

                <strong id="subtotalCarrito">
                    $0
                </strong>

            </div>

            <a href="checkout.html" class="btn-finalizar">

                Finalizar Compra

            </a>

        </div>

    </div>

</header>